<div class="container">
    <div class="row borde__header">
        <div class="col-8 p-3">
            <a class="text-dark text-decoration-none" routerLink="/posts"><h1>Brand Name</h1></a>
        </div>
        <div class="col-4 p-3 d-flex align-items-end flex-row-reverse">
            <div class="row">
                <div class="col d-flex flex-row-reverse">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" routerLinkActive="active" routerLink="/posts" class="btn btn-outline-primary text-dark border-dark rounded-0">
                            <a class="text-decoration-none text-dark" >List Posts</a>
                        </button>
                        <button type="button" routerLinkActive="active" routerLink="/newposts" class="btn btn-outline-primary text-dark border-dark rounded-0">
                            <a class="text-decoration-none text-dark" >New Posts</a>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>